

.title-section{
    margin-bottom: 40px;
}

.title-section h1{
    font-size: 1.5rem;
    font-weight: bold;
}

.order-list-container {
    max-width: 536px;
}

.order{
    border: solid 1px black;
    margin-bottom: 50px;
    padding: 14px 24px 24px;
}


.status-order{
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
}

.item-order{
    font-size: 14px;
    font-weight: bold;
    color: #43ADDA;
}

.item-order:hover{
    color: #2e799a;
}

.img-order{
    height: 50px;
    padding-bottom: 10px;
}

.date-order{
    font-size: 10px;
    padding-top: 10px;
}

.order-unit{
    font-size: 10px;
    padding-top: 10px;
}

.order-price{
    font-size: 20px;
    font-weight: bold;
}

.order .progress-bar{
    width: 100%;
    height: 5px;    

    background-color: #F9A80C;

}

.order .progress-bar.open{
    background-color: #F9A80C;
}

.order .progress-bar.close {
    background-color: #6A6868;
}


/* Small devices landscape phones, 576px and up */
@media (min-width: 576px) { 
    .order-unit{
        margin-bottom: 35px;
    } 
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }