@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    font-family: 'Inter';
}

.orderId{
    font-size: 20px;
    font-weight: bold;
}

.detailsTitle{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: solid 2px #c6c6c686;
}

.orderData{
    margin-bottom: 40px;
}

.orderData p{
    font-size: 12px;
    margin: 2px;
    padding: 0%;
}

.orderData span{
    font-weight: bold;
}

.orderAddress p{
    font-size: 12px;
    margin: 2px;
    padding: 0;
}

.titleAddress{
    font-weight: bold;
}

.orderItem{
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    padding-top: 7px;
}

.tableHead{
    border-bottom: solid 2px #c6c6c686;
}

.tableItem{
    border-bottom: solid 2px #c6c6c686;
    font-weight: bold;
    font-size: 14px;
}

.tableItem .qtd{
    padding-left: 50px;
}

.tableItem img{
    width: 120px;
    height: 100px;
    object-fit: contain;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.tableItem span{
    padding-left: 20px;
}

.orderPrice{
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 14px;
}

.orderPrice span{
    font-weight: bold;
}

.orderTotal{
    font-weight: bold;
}


/* Small devices landscape phones, 576px and up */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }