@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    font-family: 'Inter';
}

:root {
    --color-primary: #F9A80C;
  }

.welcome-section{
    gap: 10px; 
}

.welcome-star img{
    max-width: 20px;
}

.star-section{
    flex: 0 0 auto;
    padding-bottom: 30px;
}


.welcome-msg{
    color: var(--color-primary);
    font-weight: bolder;
    text-transform: uppercase;

    display: flex;
    justify-content: center;

    font-size: .9rem;
    margin: 0;
    padding-bottom: 4px;
}

.profile-name{
    display: flex;
    justify-content: center;

    font-size: 1.1rem;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 0;
}

.orders-section{

    display: flex;
    flex-direction: column;
}

.order-title{
    font-size: 20px;
    color: var(--color-primary);
    padding-bottom: 20px;
    border-bottom: solid 1px #c6c6c686;
}

.order-icon{
    font-size: 13px;
}

.orders{
    padding-left: 20px;
    padding-bottom: 4px;
    color: black;
    text-decoration: none;
}

.viewOrders{
    padding-left: 20px;
    color: black;
    text-decoration: none;
}

.noOrders{
    padding-left: 20px;
}

.viewOrders:hover{
    text-decoration: underline 2px;
}

.account-section{
    display: flex;
    flex-direction: column;
}

.account-title{
    font-size: 20px;
    color: var(--color-primary);
    padding-bottom: 20px;
}

.order-button{
    border-top: solid 1px #c6c6c686;
    padding-top: 30px;
}

.btn-order{
    background-color: transparent;
    border: none;
    display: flex;
    gap: 1rem;

    color: #000000;
    text-decoration: none;
}

.btn-order img{
    width: 10px;
}

.btn-order:hover{
    text-decoration: underline 2px;
}

.logout{
    color: black;
    text-decoration: none;
    position: absolute;
}

.logout:hover{
    text-decoration: underline 2px;
}


/* Small devices landscape phones, 576px and up */
@media (min-width: 576px) { 
    .profile-name{
        font-size: 1.5rem;
    }
    .welcome-section{
        gap: 50px; 
    }
    .welcome-star img{
        max-width: 40px;
    }
    .star-section{
        padding-bottom: 40px;
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .btn-order{
        gap: 10rem;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }